:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  border: 1px solid transparent;
  font-size: 1em;
}

/* Impede a rolagem da página */
.no-scroll {
  overflow: hidden; 
  height: 100%; 
}
